/* - User Story #14: On regular sized devices (laptops, desktops), the element with id="navbar" should be shown on the left side of the screen and should always be visible to the user.  */

/* - User Story #15: My Technical Documentation page should use at least one media query. */

body {
    display: flex;
    flex-direction: row;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%; 
    width: 100%; 
    margin-left: 50%
}

#navbar {
    height: 100vh; 
    width: 50%; 
    display: flex;
    flex-direction: column;
    position: fixed; 
}

/* #navbar {
    width: 100vw; 
    position: fixed; 
    top: 0; 
    left: -100vw; 
} */

@media only screen and (max-width: 815px) {
    body {
        display: flex;
        flex-direction: column;
    }

    .main-container {
        position: relative;
        margin-left: 0px;
        margin-top: 150px;
    }

    #navbar {
        position: absolute;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        max-height: 275px;
        border: none;
        z-index: 1;
        border-bottom: 2px solid;
    }
}